@charset "UTF-8";
/* Let's make a nice body for the page */
body {
	font-family: sans-serif;
    text-align: center;
	font-size: medium;
	color: #e5e9f0;
	margin: 0;
	background: rgb(36,36,36);
}
/* No decoration for the links */
a {
	text-decoration: none;
	font-weight: bold;
}
a:link,
a:visited {
	color: #d0d0d0;
}
a:hover {
	color: #ff6e35;
}
/* Allow us to display lists as in a grid */
ul {
	list-style: none;
	margin: 2%;
	padding: 0;
	display: inline-table;
}
li {
	margin: 1% 0;
}
/* Let's make a nice header for the page */
header {
	padding: 5px 0;
	background: rgb(66, 66, 66);
}
main {
	width: 70%;
	margin: auto;
}
/* Responsive mode */
@media (max-width: 1060px) {
	body {
		font-size: small;
	}
}